[control mapping 00]
down = true
key = UP
name = gas
once = false
type = key

[control mapping 01]
down = true
key = LSHIFT
name = nos
once = false
type = key

[control mapping 02]
down = true
key = DOWN
name = brake
once = false
type = key

[control mapping 03]
down = true
key = SPACE
name = handbrake
once = false
type = key

[control mapping 04]
down = true
key = LEFT
name = steer_left
once = false
type = key

[control mapping 05]
down = true
key = RIGHT
name = steer_right
once = false
type = key

[control mapping 06]
down = false
key = w
name = disengage_shift_up
once = true
type = key

[control mapping 07]
down = false
key = q
name = disengage_shift_down
once = true
type = key

[control mapping 08]
down = true
key = s
name = start_engine
once = true
type = key

[control mapping 09]
down = false
key = BACKQUOTE
name = neutral
once = true
type = key

[control mapping 10]
down = false
key = 1
name = first_gear
once = true
type = key

[control mapping 11]
down = false
key = 2
name = second_gear
once = true
type = key

[control mapping 12]
down = false
key = 3
name = third_gear
once = true
type = key

[control mapping 13]
down = false
key = 4
name = fourth_gear
once = true
type = key

[control mapping 14]
down = false
key = 5
name = fifth_gear
once = true
type = key

[control mapping 15]
down = false
key = 6
name = sixth_gear
once = true
type = key

[control mapping 16]
down = false
key = TAB
name = reverse
once = true
type = key

[control mapping 17]
down = false
key = F9
name = rollover_recover
once = true
type = key

[control mapping 18]
down = true
key = F8
name = view_prev
once = true
type = key

[control mapping 19]
down = true
key = F7
name = view_next
once = true
type = key

[control mapping 20]
down = true
key = F1
name = view_hood
once = true
type = key

[control mapping 21]
down = true
key = F2
name = view_incar
once = true
type = key

[control mapping 22]
down = true
key = F3
name = view_chaserigid
once = true
type = key

[control mapping 23]
down = true
key = F4
name = view_chase
once = true
type = key

[control mapping 24]
down = true
key = F5
name = view_orbit
once = true
type = key

[control mapping 25]
down = true
key = F6
name = view_free
once = true
type = key

[control mapping 26]
deadzone = 0
exponent = 1
gain = 1
mouse_motion = left
mouse_type = motion
name = pan_left
type = mouse

[control mapping 27]
deadzone = 0
exponent = 1
gain = 1
mouse_motion = right
mouse_type = motion
name = pan_right
type = mouse

[control mapping 28]
deadzone = 0
exponent = 1
gain = 1
mouse_motion = up
mouse_type = motion
name = pan_up
type = mouse

[control mapping 29]
deadzone = 0
exponent = 1
gain = 1
mouse_motion = down
mouse_type = motion
name = pan_down
type = mouse

[control mapping 30]
down = true
mouse_button = 1
mouse_type = button
name = zoom_in
once = false
type = mouse

[control mapping 31]
down = true
mouse_button = 3
mouse_type = button
name = zoom_out
once = false
type = mouse

[control mapping 32]
down = false
key = LEFT
name = gui_left
once = true
type = key

[control mapping 33]
down = false
key = RIGHT
name = gui_right
once = true
type = key

[control mapping 34]
down = false
key = UP
name = gui_up
once = true
type = key

[control mapping 35]
down = false
key = DOWN
name = gui_down
once = true
type = key

[control mapping 36]
down = false
key = RETURN
name = gui_select
once = true
type = key

[control mapping 37]
down = false
key = ESCAPE
name = gui_cancel
once = true
type = key

