<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <EnableBalloonHelp>true</EnableBalloonHelp>
  <CheckForUpdates>true</CheckForUpdates>
  <FullScreen>true</FullScreen>
  <StretchFullScreen>true</StretchFullScreen>
  <BestFit>false</BestFit>
  <PillarBoxing>false</PillarBoxing>
  <BilinearFiltering>false</BilinearFiltering>
  <EnableOnlineLogging>true</EnableOnlineLogging>
  <PlaySfx>true</PlaySfx>
  <PlayMusic>true</PlayMusic>
  <PlayMidi>false</PlayMidi>
  <PlayMacMidi>false</PlayMacMidi>
  <TLRSfx>false</TLRSfx>
  <UseTlrBlasting>false</UseTlrBlasting>
  <RemoveFKey>false</RemoveFKey>
  <DeadZoneThreshold>0.35</DeadZoneThreshold>
  <EnableForceFeedback>true</EnableForceFeedback>
  <DecreaseSpeed>Subtract</DecreaseSpeed>
  <IncreaseSpeed>Add</IncreaseSpeed>
  <PlayerUsingKeyboard>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
  </PlayerUsingKeyboard>
  <PlayerUsingGamepad>
    <boolean>true</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
  </PlayerUsingGamepad>
  <KeyboardBindings>
    <key>NumPad0</key>
    <key>NumPad1</key>
    <key>NumPad2</key>
    <key>NumPad3</key>
    <key>NumPad4</key>
    <key>NumPad5</key>
    <key>NumPad6</key>
    <key>NumPad7</key>
    <key>NumPad8</key>
    <key>NumPad9</key>
    <key>T</key>
    <key>Z</key>
    <key>X</key>
    <key>C</key>
    <key>A</key>
    <key>S</key>
    <key>D</key>
    <key>Q</key>
    <key>W</key>
    <key>E</key>
    <key>NumPad0</key>
    <key>NumPad1</key>
    <key>NumPad2</key>
    <key>NumPad3</key>
    <key>NumPad4</key>
    <key>NumPad5</key>
    <key>NumPad6</key>
    <key>NumPad7</key>
    <key>NumPad8</key>
    <key>NumPad9</key>
    <key>T</key>
    <key>Z</key>
    <key>X</key>
    <key>C</key>
    <key>A</key>
    <key>S</key>
    <key>D</key>
    <key>Q</key>
    <key>W</key>
    <key>E</key>
  </KeyboardBindings>
  <GamepadBindings>
    <button>LeftTrigger</button>
    <button>B</button>
    <button>X</button>
    <button>RightShoulder</button>
    <button>DPadLeft</button>
    <button>DPadDown</button>
    <button>DPadRight</button>
    <button>Y</button>
    <button>DPadUp</button>
    <button>A</button>
    <button>LeftShoulder</button>
    <button>A</button>
    <button>B</button>
    <button>Y</button>
    <button>LeftThumbstickLeft</button>
    <button>LeftThumbstickDown</button>
    <button>LeftThumbstickRight</button>
    <button>LeftTrigger</button>
    <button>LeftThumbstickUp</button>
    <button>RightTrigger</button>
    <button>LeftShoulder</button>
    <button>A</button>
    <button>B</button>
    <button>Y</button>
    <button>LeftThumbstickLeft</button>
    <button>LeftThumbstickDown</button>
    <button>LeftThumbstickRight</button>
    <button>LeftTrigger</button>
    <button>LeftThumbstickUp</button>
    <button>RightTrigger</button>
    <button>LeftShoulder</button>
    <button>A</button>
    <button>B</button>
    <button>Y</button>
    <button>LeftThumbstickLeft</button>
    <button>LeftThumbstickDown</button>
    <button>LeftThumbstickRight</button>
    <button>LeftTrigger</button>
    <button>LeftThumbstickUp</button>
    <button>RightTrigger</button>
  </GamepadBindings>
  <BuildVersion>24.03.7</BuildVersion>
  <FirstRun>false</FirstRun>
  <Language>en</Language>
  <GameSpeed>0.45</GameSpeed>
  <ExperimentalMode>false</ExperimentalMode>
  <WindowSize>
    <Width>640</Width>
    <Height>480</Height>
  </WindowSize>
  <PreferredRegion />
  <DisableSSL>false</DisableSSL>
  <ToolboxPosition>
    <X>-1</X>
    <Y>-1</Y>
  </ToolboxPosition>
  <HorizontalToolbox>false</HorizontalToolbox>
  <PressToOpenPartsBin>true</PressToOpenPartsBin>
  <SfxVolume>0.45</SfxVolume>
  <MusicVolume>0.45</MusicVolume>
  <GamepadCursorSpeed>0.5</GamepadCursorSpeed>
</Settings>